{% extends "metadataparser/base_metadataparser.html" %}
{% load i18n %}

{% block appendheader %}
<h2>{% blocktrans %}{{federation}} federation entities{% endblocktrans %}</h2>
{% endblock %}

{% block content %}
<a href="{% url federation_view federation.id %}">{{ federation.name }}</a>
<ul>
  {% for entity in federation.entities_iterator %}
  <li>
    <a href="{% url entity_view federation.id entity.id %}">{{ entity }}</a>
  </li>
  {% endfor %}
</ul>
<a href="{% url entity_add federation.id %}">{% trans "add" %}</a>
{% endblock %}
