{% extends "metadataparser/base_metadataparser.html" %}
{% load i18n metadataparsertags %}

{% block appendheader %}
{% if entity.name %}
  <h2>{% l10n_property entity.name %}</h2>
{% else %}
  <h2>{{ entity }}</h2>
{% endif %}
{% endblock %}

{% block content %}
{% canedit entity %}
<div class="btn-group pull-right">
  <a class="btn" href="{% url entity_edit entity.id %}">{% trans "edit" %}</a>
</div>
{% endcanedit %}

{% for logo in entity.logos %}
  {% if logo.external %}
     <img class="img-polaroid" alt="{{ logo.alt }}" src="{{ logo.file }}">
  {% else %}
     <img class="img-polaroid" alt="{{ logo.alt }}" src="{{ MEDIA_URL }}{{ logo.file }}">
  {% endif %}
{% endfor %}

<dl class="dl-horizontal">

  {% if entity.description %}
  <dt>{% trans "Description" %}</dt>
  <dd>{% l10n_property entity.description %}</dd>
  {% endif %}

  <dt>{% trans "EntityID" %}</dt>
  <dd>{{ entity.entityid }}</dd>

  <dt>{% trans "Entity Types" %}</dt>
  <dd>{{ entity.types|display_etype }}</dd>

  {% if entity.protocols %}
  <dt>{% trans "Supported protocols" %}</dt>
  <dd>{{ entity.display_protocols|join:", " }}</dd>
  {% endif %}

  {% if entity.organization %}
  <dt>{% trans "Organization" %}</dt>
  <dd>
    <ul class="unstyled">
    {% for organization in entity.organization %}
    <li><a href="{{ organization.URL }}">{{ organization.displayName }}</a></li>
    {% endfor %}
  </ul>
  </dd>
  {% endif %}

  <dt>{% trans "Federations" %}</dt>
  <dd>
  <ul class="unstyled">
    {% for federation in entity.federations.all %}
    <li><a href="{% url federation_view federation.id %}">{{ federation }}</a></li>
    {% endfor %}
  </ul>
  </dd>

  {% if entity.metadata_file %}
  <dt>{% trans "Metadata File" %}</dt>
  <dd><a href="{% url metadata_view entity.metadata_file.id %}">{{ entity.metadata_file }}</a></dd>
  {% endif %}
</dl>

{% endblock %}

