{% extends "metadataparser/base_metadataparser.html" %}
{% load i18n metadataparsertags %}

{% block appendheader %}
{% if form.instance.id %}
<h2>{{ form.instance }}</h2>
{% else %}
<h2>{% trans "Add Entity" %}</h2>
{% endif %}
{% endblock %}

{% block content %}
{% if form.instance.id %}
  {% url entity_delete federation.id form.instance.id as delete_link %}
  {% url entity_view federation.id form.instance.id as cancel_link %}
{% else %}
  {% url entities_list federation.id as cancel_link %}
{% endif %}
{% bootstrap_form form cancel_link delete_link %}
{% endblock %}
