{% extends "metadataparser/base_metadataparser.html" %}
{% load i18n %}

{% block appendheader %}
<h2>{% trans "Entity" %} {{ entity }}</h2>
{% endblock %}

{% block content %}
<a href="{% url entities_list federation.id %}">{% trans "entities list"%}</a> |
<a href="{% url entity_edit federation.id entity.id %}">{% trans "edit" %}</a>

<dl class="dl-horizontal">
  <dt>{% trans "Name" %}</dt>
  <dd>{{ entity }}</dd>

  <dt>{% trans "EntityID" %}</dt>
  <dd>{{ entity.entityid }}</dd>

  <dt>{% trans "Entity Type" %}</dt>
  <dd>{{ entity.entity_type }}</dd>

  <dt>{% trans "Federation" %}</dt>
  <dd><a href="{% url federation_view entity.federation.id %}">{{ entity.federation }}</a></dd>

  {% if entity.metadata_file %}
  <dt>{% trans "Metadata File" %}</dt>
  <dd><a href="{% url metadata_view entity.metadata_file.id %}">{{ entity.metadata_file }}</a></dd>
  {% endif %}
</ul>

{% endblock %}

