{% extends "metadataparser/base_metadataparser.html" %}
{% load i18n metadataparsertags %}

{% block appendheader %}
<h2>{% trans "Federation" %} {{ federation }}</h2>
{% endblock %}

{% block content %}
<a href="{% url federations_list %}">{% trans "federations list"%}</a> |
<a href="{% url federation_edit federation.id %}">{% trans "edit" %}</a>

<dl class="dl-horizontal">
  <dt>{% trans "Organization" %}</dt>
  <dd><a href="{{ federation.organization_link }}">{{ federation }}</a></dd>

  <dt>{% trans "Metadata file" %}</dt>
  <dd><a href="{{ MEDIA_URL }}{{ federation.file }}">{% trans "metadata file" %}</a></dd>

  <dt>{% trans "Entities" %}</dt>
  <dd><a href="{% url entities_list federation.id %}">{% trans "Entities list" %}</a></dd>
</dl>

<ul class="nav nav-tabs">
  {% url federation_view federation.id as federation_url %}
  <li {% if not entity_type %}class="active"{% endif %}>
      <a href="{{ federation_url }}">{% trans "all" %}</a>
  </li>

  <li {% if entity_type == "idp" %}class="active"{% endif %}>
    <a href="{{ federation_url }}?entity_type=idp">{% trans "Identity Provider" %}</a>
  </li>

  <li {% if entity_type == "sp" %}class="active{% endif %}">
    <a href="{{ federation_url }}?entity_type=sp">{% trans "Service Provider" %}</a>
  </li>
</ul>
{% entities_list federation entities page entity_type %}

{% endblock %}
