{% extends "metadataparser/base_metadataparser.html" %}
{% load i18n %}

{% block content %}
<section>
<h1>{% trans "Metadata Explorer Tool" %}</h1>
{% if form.instance.id %}
<h2>{{ form.instance }}</h2>
{% else %}
<h2>{% trans "Add federation" %}</h2>
{% endif %}
</section>

{% bootstrap_form form %}

{% if form.instance.id %}
  <a href="{% url federation_delete form.instance.id %}">{% trans "delete" %}</a>
  <a href="{% url federation_view form.instance.id %}">{% trans "cancel" %}</a>
{% else %}
  <a href="{% url federations_list %}">{% trans "cancel" %}</a>
{% endif %}
{% endblock %}
