{% extends "metadataparser/base_metadataparser.html" %}
{% load i18n %}

{% block appendheader %}
<h2>{% trans "Federation" %} {{ federation }}</h2>
{% endblock %}

{% block content %}
<a href="{% url federations_list %}">{% trans "federations list"%}</a> |
<a href="{% url federation_edit federation.id %}">{% trans "edit" %}</a>

<dl class="dl-horizontal">
  <dt>{% trans "Organization" %}</dt>
  <dd><a href="{{ federation.organization_link }}">{{ federation }}</a></dd>

  <dt>{% trans "Metadata file" %}</dt>
  <dd><a href="{{ MEDIA_URL }}{{ federation.file }}">{% trans "metadata file" %}</a></dd>

  <dt>{% trans "Entities" %}</dt>
  <dd><a href="{% url entities_list federation.id %}">{% trans "Entities list" %}</a></dd>
</dl>
{% endblock %}
