{% load i18n metadataparsertags %}
{% if federations %}

<div class="btn-toolbar pull-right">
{% export_summary_menu queryname %}
{% if user.is_superuser %}
<a class="btn" href="{% url federation_add %}">{% trans "Add federation" %}</a>
{% endif %}
</div>
<p><strong>{% trans "Total" %}:</strong> {{ federations|length }}</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th class="entitytype">{% trans "Entities" %}</th>
      {% for etype in entity_types %}
      <th class="entitytype">{{ etype|display_etype }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for federation in federations %}
  <tr>
    <td>
      <a href="{{ federation.get_absolute_url }}">{{ federation }}</a>
    </td>

    <td class="entitytype">{% entities_count federation.entity_set %}</td>
    {% for etype in entity_types %}
    <td class="entitytype">{% entities_count federation.entity_set etype %}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
</table>
{% else %}
{% trans "There isn't federations" %}
{% endif %}
