{% load i18n metadataparsertags %}
{% if federations %}
<table class="table .table-bordered">
  <thead>
    <tr>
      <th>{% trans "Federation Name" %}</th>
      <th>{% trans "Entities" %}</th>
      {% for etype in entity_types %}
      <th>{{ etype|display_etype }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for federation in federations %}
  <tr>
    <td>
      <a href="{% url federation_view federation.id %}">{{ federation }}</a>
    </td>

    <td>{% entities_count federation %}</td>
    {% for etype in entity_types %}
    <td>{% entities_count federation etype %}
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
</table>
{% else %}
{% trans "There isn't federations" %}
{% endif %}
{% if request.user.is_authenticated %}
<a href="{% url federation_add %}">{% trans "add federation" %}</a>
{% endif %}
