{% extends "metadataparser/base_metadataparser.html" %}
{% load i18n metadataparsertags %}

{% block appendheader %}
<h2>{{ title }}</h2>
{% endblock %}

{% block content %}

{% include "metadataparser/inc.export-menu.html" %}
{% paginator objects %}
<table class="table table-bordered">
<thead>
  {% for column in headers %}
    <th>{{ column }}</th>
  {% endfor %}
</thead>
<tbody>
  {% for obj in objects %}
    <tr>
      {% for field in fields %}
      <td>{% get_property obj field %}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</tbody>
</table>

{% include "metadataparser/inc.export-menu.html" %}
{% paginator objects %}


{% endblock %}
