{% extends "base.html" %}
{% load i18n metadataparsertags %}


{% block extrajs %}
<script type="text/javascript">
(function($) {
     $(document).ready(function () {
         $("ul.querybuttons a").click(function (e) {
             e.preventDefault();
             $('html, body').animate({
                 scrollTop: $($(e.target).attr("href")).offset().top
             }, 'slow');
        });
     });
})(jQuery);
</script>
{% endblock %}


{% block content %}


<ul class="querybuttons nav nav-pills">
  <li class="active">
    <a href="#entitiessummary">{% trans "Entities summary" %}</a>
  </li>
  <li class="active">
    <a href="#mostfederatedentities">{% trans "Most federated entities" %}</a>
  </li>
  <li class="active">
    <a href="#interfederationsummary">{% trans "Interfederations summary" %}</a>
  </li>
  <li class="active">
    <a href="#federationssummary">{% trans "Federations summary" %}</a>
  </li>
</ul>

<div class="summary">
<h2 id="entitiessummary">{% trans "Entities summary" %}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "Entities" %}</th>
      {% for etype in entity_types %}
      <th class="entitytype">{{ etype|display_etype }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{% entities_count entities %}</td>
      {% for etype in entity_types %}
      <td class="entitytype">{% entities_count entities etype %}</td>
      {% endfor %}
    </tr>
  </tbody>
</table>
</div>

<div class="summary">
  <h2 id="mostfederatedentities">{% trans "Most federated entities" %}</h2>
  {% entity_list most_federated_entities show_total=False append_query="export=most_federated_entities" %}
</div>

{% if interfederations %}
<div class="summary">
<h2 id="interfederationsummary">{% trans "Interfederations summary" %}</h2>
{% federations_summary "interfederations" interfederations %}
</div>
{% endif %}

<div class="summary">
<h2 id="federationssummary">{% trans "Federations summary" %}</h2>
{% federations_summary "federations" federations %}
</div>

<p class="text-muted">
{% blocktrans %}
Remember that one entity can be IDP and SP at the same time, so the addition
of IDP and SP can be bigger than the number of entities
{% endblocktrans %}
</p>

{% endblock %}
