{% extends "metadataparser/base_metadataparser.html" %}
{% load i18n metadataparsertags %}

{% block appendheader %}
{% if form.instance.id %}
<h2>{{ form.instance }}</h2>
{% else %}
<h2>{% trans "New Metadata" %}</h2>
{% endif %}
{% endblock %}

{% block content %}
{% if form.instance.id %}
  {% url metadata_delete form.instance.id as delete_link %}
  {% url metadata_view form.instance.id as cancel_link %}
{% else %}
  {% url metadatas_list federation.id as cancel_link %}
{% endif %}
{% bootstrap_form form cancel_link delete_link %}
{% endblock %}
