{% extends "metadataparser/base_metadataparser.html" %}
{% load i18n %}

{% block appendheader %}
<h2>{% trans "Metadata" %} {{ metadata }}</h2>
{% endblock %}

{% block content %}
<a href="{% url metadatas_list %}">{% trans "metadatas list"%}</a> |
<a href="{% url metadata_edit metadata.id %}">{% trans "edit" %}</a>
<dl class="dl-horizontal">
  <dt>{% trans "url" %}</dt>
  <dd><a href="{{ metadata.url }}">{{ metadata.url}}</a></dd>

  <dt>{% trans "file" %}</dt>
  <dd><a href="{{ MEDIA_URL }}{{ metadata.file }}">{% trans "local metadata file" %}</a></dd>

    {% if metadata.is_federation %}
      {% with metadata.get_federation_or_entity as federation %}
      <dt>{% trans "Federation" %}</dt>
      <dd><a href="{% url federation_view federation.id %}">{{ federation }}</a></dd>
      {% endwith %}
    {% elif metadata.is_entity %}
      {% with metadata.get_federation_or_entity as entity %}
      <dt>{% trans "Entity" %}</dt>
      <dd>  <a href="{% url entity_view entity.id %}">{{ entity }}</a></dd>
      {% endwith %}
    {% else %}
      <dt>{% trans "Errors" %}
      <dd>{% trans "This Metadata file hasn't federation or entities" %}</dd>
    {% endif %}
</dl>
{% endblock %}
