{% extends "metadataparser/base_metadataparser.html" %}
{% load i18n metadataparsertags %}

{% block appendheader %}
<h2>{% trans "Service search" %}</h2>
{% endblock %}

{% block content %}

{% bootstrap_searchform searchform %}

{% if entity %}

<dl class="dl">

  <a href={% url entity_view entity.id %}>{% trans "Go to full entity view" %}</a>

  <dt>{% trans "Name" %}</dt>
  <dd>{{ entity }}</dd>

  <dt>{% trans "EntityID" %}</dt>
  <dd>{{ entity.entityid }}</dd>

  <dt>{% trans "Entity Type" %}</dt>
  <dd>{{ entity.types|join:", " }}</dd>

  {% if entity.organization %}
  <dt>{% trans "Organization" %}</dt>
  <dd>
    <ul class="unstyled">
    {% for organization in entity.organization %}
    <li><a href="{{ organization.URL }}">{{ organization.displayName }}</a></li>
    {% endfor %}
  </ul>
  </dd>
  {% endif %}
</dl>

<h3>{% trans "Federations" %}</h3>
<table class="table table-bordered">
<thead>
  <th>{% trans "Name" %}</th>
  <th>{% trans "Url" %}</th>
</thead>
<tbody>
  {% for federation in entity.federations.all %}
  <tr>
    <td>{{ federation }}</td>
    <td>{{ federation.url|default:"" }}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
<div class="btn-group dropup">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      {% trans "Export" %}
      <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="{% url search_service_export "csv" %}?entityid={{ entity.entityid }}">{% trans "csv" %}</a></li>
    <li><a href="{% url search_service_export "json" %}?entityid={{ entity.entityid }}">{% trans "json" %}</a></li>
  </ul>
</div>
{% endif %}

{% endblock %}
