{% load i18n %}
<div class="pagination">
    <ul>
    {% if objs.has_previous %}
      <li><a href="?page={{ objs.previous_page_number }}{{ append_url }}"> &lsaquo;&lsaquo; {% trans "previous" %}</a></li>
    {% else %}
      <li><a class="disabled prev" href="#"> &lsaquo;&lsaquo; {% trans "previous" %}</a></li>
    {% endif %}

    {% for page in pages %}
        {% if page %}
            {% ifequal page objs.number %}
                <li class="current page active"><a href="#">{{ page }}</a></li>
            {% else %}
                <li><a class="page" href="?page={{ page }}{{ append_url }}">{{page}}</a></li>
            {% endifequal %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}

    {% if objs.has_next %}
      <li><a class="next" href="?page={{ objs.next_page_number }}{{ append_url }}">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
    {% else %}
      <li><a class="disabled next" href="#">{% trans "next" %} &rsaquo;&rsaquo;</a></li>
    {% endif %}
    </ul>
</div>
