{% load i18n metadataparsertags pagination_tags %}

{% if show_filters %}
{% entity_filters entities %}
{% endif %}

{% export_menu entities %}
<p><strong>{% trans "Total" %}:</strong> {{ entities|length }}</p>

{% if enable_filters %}
<p class="text-muted">
{% blocktrans %}
Remember that one entity can be IDP and SP at the same time, so the addition
of IDP and SP can be bigger than the number of entities
{% endblocktrans %}
</p>
{% endif %}

{% autopaginate entities %}
{% paginate %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>EntityID</th>
      <th>Type</th>
      <th>Federations</th>
    </tr>
  </thead>
  <tbody>
  {% for entity in entities %}
  <tr>
    <td>
      <a title="{{ entity|default:entity.entityid }}"
         href="{{ entity.get_absolute_url }}">{{ entity|default:entity.entityid|wrap:50 }}</a>
    </td>
    <td>
      {{ entity.types|display_etype }}
    </td>
    <td>
    {% for federation in entity.federations.all %}
    <a href="{{ federation.get_absolute_url }}">{{ federation }}</a> {% if not forloop.last %}|{% endif %}
    {% endfor %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% paginate %}
