{% load i18n %}

<ul>
  {% for entity in entities %}
  <li>
    <a href="{% url entity_view entity.id %}">{{ entity }}</a>
  </li>
  {% endfor %}
</ul>
<div class="pagination">
    <span class="step-links">
    {% if entities.has_previous %}
      <a href="?page={{ entities.previous_page_number }}{{ append_url }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ entities.number }} of {{ entities.paginator.num_pages }}.
    </span>

    {% if entities.has_next %}
      <a href="?page={{ entities.next_page_number }}{{ append_url }}">next</a>
    {% endif %}
    </span>
</div>
