{% extends "base.html" %}
{% load i18n metadataparsertags %}

{% block content %}

<div class="hero-unit">
{% blocktrans %}
  <p>Metadata explorer tool is a fast way to find federations, entities and his relations through
  entity/federation metadata file information.</p>
  <ul>
    <li>You can find information about a entity or federation</li>
    <li>You can find how many and which services belong to a federation</li>
    <li>You can find to which federations do an entity belong</li>
    <li>You can find which federations or entities are part of <a href="http://www.geant.net/">Edugain</a></li>
  <ul>
{% endblocktrans %}
</div>

<h2>{% trans "Federations summary" %}</h2>

{% federations_summary %}

{% endblock %}
