{% extends "base.html" %}
{% load i18n metadataparsertags %}

{% block content %}

<div class="hero-unit">
  <h1>{% blocktrans with org=portal_settings.ORGANIZATION_NAME %}{{ org }} Metadata Explorer Tool{% endblocktrans %}</h1>
   <p>
{% blocktrans %}
  Metadata explorer tool is a fast way to find federations, entities and his relations through
  entity/federation metadata file information.
{% endblocktrans %}
   </p>
 </div>


<ul class="nav nav-pills">
  <li>
    <a href="{% url search_service %}">{% trans "Search service" %}</a>
  </li>
  <li>
    <a href="{% url edugain_services %}">{% trans "Edugain services" %}</a>
  </li>
  <li>
    <a href="{% url edugain_federations %}">{% trans "Edugain federations" %}</a>
  </li>
</ul>

<h2>{% trans "Federations summary" %}</h2>

{% federations_summary %}

{% endblock %}
